.idea
playground.cpp
tests/testoutput
!tests/testoutput/.gitkeep
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
out

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb

# latexmk
latexmkrc

# Temporary files
*.tmp
*.swp